RESEND_API_KEY=
FROM_EMAIL=
TO_EMAIL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PUBLISH_TOKEN=
FACEBOOK_PAGE_ID=1697441158067983
FACEBOOK_USER_ACCESS_TOKEN=
SITE_URL=https://sweet-fantasy-vlas.vercel.app
